@model ShoesShopOnline.Models.TinTuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TinTuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoanQuanTri.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoanQuanTri.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
