@{
    ShoesShopOnline.Models.TaiKhoanNguoiDung tk =
            (ShoesShopOnline.Models.TaiKhoanNguoiDung)HttpContext.Current.Session[ShoesShopOnline.Session.ConstaintUser.USER_SESSION];
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
    <title>New Store A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="~/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="~/Assets/Client/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- start menu -->
    <link href="~/Assets/Client/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/Client/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Assets/Client/js/simpleCart.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="search">
                    <form>
                        <input type="text" value="Search " onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="Go">
                    </form>
                </div>
                <div class="header-left">
                    <ul>
                        <li><a href="@Url.Action("Login","Home")">Đăng nhập</a></li>
                        <li><a href="@Url.Action("SignUp","Home")">Đăng ký</a></li>

                    </ul>
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity"
                                                                                  class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="~/Assets/Client/images/cart.png" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img src="~/Assets/Client/images/logoxshop.PNG" alt=""></a>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">

                        <li class="grid">
                            <a class="color2" href="products.html">DANH MỤC </a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col">
                                        <div class="h_nav">
                                            <ul>
                                                @*<li><a href="products.html">GIÀY NIKE</a></li>
                                                    <li><a href="products.html">GIÀY ADIDAS</a></li>
                                                    <li><a href="products.html">GIÀY CONVERT</a></li>


                                                    <li><a href="products.html">GIÀY VANS</a></li>
                                                    <li><a href="products.html">GIÀY KID</a></li>*@

                                                @{ Html.RenderAction("DanhMuc", "Home");}

                                            </ul>
                                        </div>
                                    </div>

                        </li>
                        <!---->
                        <li class="grid">
                            <a class="color6" href="products.html">SALE OFF</a>
                        </li>
                        <li><a class="color4" href="@Url.Action("Blog","Home")">BLOG</a></li>
                        <li><a class="color6" href="@Url.Action("Contact","Home")">CONTACT</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <!--content-->
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">
                <div class="col-md-4 amet-sed " data-aos="fade-right" data-aos-delay="200">
                    <div class="image_logo"><img src="~/Assets/Client/images/logoxshop.PNG"></div>
                    <h4>DỊCH VỤ KHÁCH HÀNG</h4>
                    <p>
                        Hướng dẫn đặt hàng
                    </p>
                    <p>Chính sách đổi trả và bảo hành</p>
                    <p>Chính sách bảo mật</p>
                    <p>Chính sách khách hàng thân thiết</p>
                </div>
                <div class="col-md-4 amet-sed" data-aos="fade-right" data-aos-delay="300">
                    <h4>THÔNG TIN</h4>
                    <p>Tuyển dụng</p>
                    <p>Hệ thống cửa hàng</p>
                    <p>Liên hệ hợp tác</p>
                    <p>Q&A</p>
                    <div class="email-box">
                        <i class="fas fa-envelope"></i>
                        <input class="tbox" type="email" name="" value="" placeholder="Enter your email">
                        <button class="btn" type="button" name="button">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-4 amet-sed" data-aos="fade-right" data-aos-delay="400">
                    <h4>LIÊN HỆ</h4>
                    <ul class="nav-bottom">
                        <li><a href="#"><span>Hotline:</span>097 507 1208</a></li>
                        <li><a href="#"><span>Store 1: </span>57 Quan Hoa, Cầu Giấy, Hà Nội</a></li>
                        <li><a href="#"><span>Store 2: </span>29 Trần Đại Nghĩa, Hai Bà Trưng, Hà Nội</a></li>
                        <li><a href="#"><span>Store 3: </span>61 Trần Phú, Hà Đông, Hà Nội</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
 <script>
        $(document).ready(function () {
            //click to scroll top
            $('.move-up span').click(function () {
                $('html,body').animate({
                    scrollTop: 0
                }, 2000)
            })
            //Aos chuyển động của ảnh
            AOS.init();
        });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>
</html>