@model ShoesShopOnline.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12 col-cl-10">
    <div class="card card-body bg-white border-light shadow-sm mb-4">
        <h2 class="h5 mb-4">Chi tiết hóa đơn</h2>
        <form>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="category">Tên người đặt</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.TaiKhoanNguoiDung.HoTen)" readonly disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="nameProduct">Tên người nhận</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.HoTenNguoiNhan)" readonly disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="dateBuy">Ngày đặt</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.NgayLap)" readonly disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="size">Trạng thái</label>
                        <div class="col-md-12">
                            @if (!Model.TrangThai.Equals("Đã hủy"))
                            {
                                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.DropDownList("MaNCC", null, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                            }
                            @if (Model.TrangThai.Equals("Đã hủy"))
                            {
                                <input class="form-control" type="text" value="@Html.DisplayFor(model => model.TrangThai)" readonly disabled>
                            }



                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="phone">Số điện thoại</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.SDTNguoiNhan)" readonly disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div>
                        <label for="address">Địa chỉ nhận</label>
                        <input class="form-control" type="text" value="@Html.DisplayFor(model => model.DiaChiNhan)" readonly disabled>
                    </div>
                </div>
            </div>
            <div class="row overflow-auto mt-3 mb-3">
                <label for="address">Danh sách sản phẩm mua</label>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Kích cỡ</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        @{ decimal tongtien = 0;}
                        @foreach (var item in Model.ChiTietHoaDons)
                        {
                            <tr class="group-info">
                                <td>
                                    <img src="~/Assets/Client/@item.ChiTietSanPham.AnhMoTa.HinhAnh" style="width:80px;height:80px" />
                                </td>
                                <td>
                                    <span class="font-weight-normal">@item.ChiTietSanPham.AnhMoTa.SanPham.TenSP</span>
                                </td>
                                <td><span class="font-weight-normal">@item.ChiTietSanPham.AnhMoTa.SanPham.GiaBan</span></td>
                                <td><span class="font-weight-normal">@item.SoluongMua</span></td>
                                <td><span class="font-weight-normal">@item.ChiTietSanPham.KichCo</span></td>
                                <td>
                                    <span class="font-weight-normal">@(item.ChiTietSanPham.AnhMoTa.SanPham.GiaBan*item.SoluongMua)</span>
                                </td>

                            </tr>
                            tongtien += item.ChiTietSanPham.AnhMoTa.SanPham.GiaBan * item.SoluongMua;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" style="text-align:center">Tổng tiền</th>
                            <th>@tongtien</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div>
                    <label for="note">Ghi chú</label>
                    <input class="form-control" type="text" value="@Html.DisplayFor(model => model.GhiChu)" readonly disabled>
                </div>
            </div>


        </form>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
